<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            
            <%= f.label :ID_NUMBER %>
            <%= f.text_field :idnum, class: 'form-control', placeholder: '6 digits, ex: 123456'  %>
            
            <%= f.label :MOBILE_NUMBER %>
            <%= f.text_field :mobilenum, class: 'form-control', placeholder: '10 digits, ex: 1234567890'  %>
            
            <% if admin? %>
                <%= f.label :BUS_NUMBER %>
                <%= f.text_field :busnum, class: 'form-control', placeholder: '1-8'  %>
                
                <%= f.label :SEAT_NUMBER %>
                <%= f.text_field :seatnum, class: 'form-control', placeholder: '1-41'  %>
            <% end %>
            
            <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>